*{

  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}





.logo{

  width: 43px;
  cursor: pointer;
  margin-top:5px;

}

.line1{
  width: 30px;
  height: 3px;
  margin-bottom:2px;
  background-color: #f4f4f4;
  
}

.hamburger{
  display: none;
}

.nav{

	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0px;
  padding: 5px 0px;
  left: 0;
	width:100%;
	z-index: 1;
  background-color: white;
  transition: 0.6s ease-in-out;

}

.nav ul li{

  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-size: 15px;
  font-weight: bold;

}

.nav ul li a{
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  color: #E43339;
  padding: 10px 20px;
  border-radius: 20px;

}

.nav ul li a:hover{
  font-size: 16px;
}

.content{

  width: 100%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;

}

.content p{
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: lighter;
}


button{
  width: 200px;
  text-align: center;
  margin: 20px 10px;
  background: transparent;
  border: 0px transparent;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0px 15px;
}



@media screen and (max-width: 1020px){
  .nav-link{
    width: 60%;
  }
}

@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }
  .nav{
    background-color: transparent;
  }
  .nav-link{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0%;
    transform: translateX(100%);

    }
  .nav-link li{
    opacity: 0;
  }
  
  .hamburger{
    display: block;
  }

  .content p{
    margin-left: 20px;
    margin-right: 20px;
  }

  .content .logo{
    display: none;
  }

}
 

.footer{

  background: rgb(241, 241, 241);
  padding: 0px 0px;
  display: flex;
	justify-content: space-around;
	align-items: center;
	width:100%;
	z-index: 1;
  transition: 0.6s ease-in-out;

}

.footer ul li{

  padding: 10px 10px;
  text-align: center;
  list-style: none;
  margin: 0 20px;
  position: relative;
  font-size: 15px;
  font-weight: bold;

}

.footer ul li a{

  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  color: rgb(71, 0, 0);
  padding: 10px 20px;

}

.footer ul li a:hover{

  background-color: rgba(255, 255, 255, 0.267);

}

.creator1{
  background-color: rgb(241, 241, 241);
  color: rgb(71, 0, 0);
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.creator1 p{
  margin-top: -25px;
  font-size: 25px;
}

.ft{
  background-color: rgb(241, 241, 241);
}

.footer ul li a:hover{

  background-color: rgba(255, 255, 255, 0.267);

}

.content1{
  width:100%;
  margin-top: 200px;
  margin-bottom: 50px;
}

.content1 h1{
  font-size: 40px;
text-align: center;
color: rgb(71, 0, 0);
}

.content1 span{
  color: #E43339;
}